@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: rgb(255, 255, 173);
  font-family: "Sour Gummy";
  color: rgb(29, 81, 29);
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  height: 10vh;
  background-color: rgb(165, 255, 133);
  padding: 4px;
  border-radius: 8px;
  border: solid 3px white;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

#start {
  background-color: rgb(63, 63, 255);
  color: white;
  padding: 8px 16px;
  border-radius: 12px;
  border: 3px solid rgb(255, 255, 255);
  font-weight: 400;
  font-size: large;
  font-family: "Sour Gummy";
}

#start:hover {
  background-color: rgb(131, 131, 255);
  color: white;
}

#start:active {
  padding: 16px 24px;
  border-radius: 18px;
}

#timer {
  font-size: large;
}

.bottom {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  height: 80vh;
}
.info {
  display: flex;
  gap: 10px;
  font-size: large;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: stretch;
  justify-content: stretch;
  flex: 1 1 50px;
}

.item {
  border: 2px solid rgb(47, 172, 49);
  border-radius: 10px;
  padding: 10px;
  flex: 1 1 50px;
  margin: 3px;
  background-color: lightyellow;
  font-size: x-large;
  font-family: "Sour Gummy";
}

.item:hover {
  background-color: rgb(229, 250, 125);
  font-size: xx-large;
}

.item:active {
  font-size: xx-large;
}

.item:focus {
  background-color: lightgreen;
  font-size: xx-large;
}
