/* this is some magical font-importing.  
you'll learn about it later. */
@import url("https://fonts.googleapis.com/css2?family=Danfo:ELSH@22.6&display=swap");

body {
  margin: 0;
  background: #eee;
  font-family: 'Gill Sans', Helvetica, sans-serif;
}

.header {
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

#profile {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border: solid 4px #6bac6b;
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.logo {
  font-family: "Danfo", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
  font-variation-settings: "ELSH" 0;
  color: #6bac6b;
  font-size: 32px;
}

button {
  border: none;
  border-radius: 8px;
  background: #6bac6b;
  color: white;
  padding: 8px 24px;
  white-space: nowrap;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: #6bac6b;
}

ul {
  list-style-type: none;
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  gap: 16px;
  padding: 0;
  white-space: nowrap;
}

li {
  border-radius: 8px;
  background-color: #dcffdc;
  padding: 4px 8px;
}

#left,
#right {
  display: flex;
  gap: 16px;
  align-items: center;
}
