body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  padding: 24px;
  margin: 10px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  margin-bottom: 40px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  padding: 24px;
  margin-left: 300px;
}

.four {
  background: #ff00a6;
  border: 3px solid purple;
  width: 100px;
  height: 100px;
  margin-top: 50px;
  padding: 0 100px 0 58px;
}

.five {
  background: olive;
  border: 16px dashed green;
  width: 300px;
  height: 50px;
  /* CHANGE ME */
  padding: 24px;
  margin-top: 50px;
  margin-left: 300px;
}